
.ul-no-bullet{
  height:100px;
  list-style-type: none;
  overflow-x: hidden;
  overflow-y: auto;
  text-align: center;
  margin-block-start: 0px;
  padding-inline-start: 0px;
  margin-block-end: 0px;
  border: red
}

.logo{
  width: 30px;
  height: 30px;
}

.crypto-item{
  display: flex;
  align-items: center;
  background-color: #e0faa4;
  width: 100%;
  padding-left: 10px;
}

.cryptoListItem{
  margin-left: 10px;
}